:root {
    --primary-text-color: #212121;
    --background-color: #FFFFFF;
    --accent: #2196F3;
}

body {
    color: var(--primary-text-color);
    background-color: var(--background-color);
}

header {
    background-color: var(--background-color);
}

.logo {
    color: #000000;
}

.logo-web {
    color: var(--accent);
}

.site-nav .link-nav:hover {
    color: var(--accent);
}

.site-nav .link-nav:focus {
    color: var(--accent);
}

.contacts, .contacts-link, p {
    color: #757575;
}

.buttons .button:hover {
    color: var(--background-color);
    background-color: var(--accent);
}

.buttons .button:focus {
    color: var(--background-color);
    background-color: var(--accent);
}

li {
    list-style-type: none;

}

.footer {
    background-color: #2F303A;
}

.footer-logo-studio {
    color: var(--background-color);
}

.address .address-link {
    color: var(--background-color);
}

.mail-link {
    color: #FFFFFF60;
}

.tel-link {
    color: #FFFFFF60;
}
